---
import Base from "../layouts/Base.astro";
import Space from "../components/Space.astro";
---

<Base title="space">
  <main
    class="min-h-screen w-screen relative"
    style="background-image: url('/nebula-bg.svg'); background-size: cover; background-position: center; background-attachment: fixed;"
  >
    <Space />
  </main>
</Base>
